fastapi
uvicorn
numpy
python-multipart
aiofiles
python-dotenv
cloudinary
motor
pydantic
Pillow
librosa
ffmpeg-python
moviepy
requests
typing-extensions
opencv-python-headless
scikit-image
google-generativeai
svix
shutil