fastapi
uvicorn
numpy
python-multipart
aiofiles
python-dotenv
cloudinary
motor
pydantic
transformers
tokenizers
torch
Pillow
librosa
ffmpeg-python
moviepy
requests
typing-extensions
opencv-python
scikit-image
google-generativeai
librosa
svix